{% block content %}
    <style>
        #friends {
            font-size: 20px;
            color: #000000;
            padding-left: 5px;
            padding-top: 5px
        }
    </style>

    <div>
        {% for friend in friend_list %}
            <a href="{% url 'chat:thread' friend.user.username %}">
                <div>
                    <p id="friends"><img src="{{ friend.user.userprofile.icon.url }}"
                                         style="border-radius: 100%; height: 38px; width: 38px; border: 1px solid black;"> {{ friend.user.username }}</p>
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}

{% block script %}
{% endblock %}