{% extends 'main/base.html' %}

{% block content %}
    <style>
	#dialog-window {
  	height: 503px;
		border: 1px black solid;
		background-color: #faf8f6 !important;
		border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
	}
	#scrollable-content {
  		height: 500px;
  		overflow: auto;
	}
</style>

<div class='container' style='max-width: 70%;' >
	
    <div class='my-3 py-3' style="width:80%; float: right">
    	
        <div class='col'>
            <h1 class='p-0 m-0'>Start Chatting!</h1>
        </div>
    </div>
		<div id="dialog-window" style="width:80%; float: right; ">
		</div>
		<div id="dialog-window" style="width:15%; float: left;">
  			<div id="scrollable-content" style="overflow: auto; overflow-x: hidden;">
  				{% include "chat/friendslist.html" with friend_list=user.userprofile.friends.all %}
  			</div>
  		</div>

		
	</div>
{% endblock %}

{% block script %}
{% endblock %}