{% extends 'main/base.html' %}

{% block content %}
    <style>
        #friends {
            box-sizing: border-box;
            border-bottom: 2px solid black;
            font-size: 20px;
            color: #000000;
            padding-left: 5px;
            padding-right: 1000px;
        }

        #friends-window {
            height: 703px;
            border: 1px black solid;
            width: 300px;
        }

        #scrollable-content-friends {
            height: 700px;
            overflow: auto;
            overflow-x: hidden;
        }
    </style>
    <div class='container'>
        <div class='row border-bottom my-3 py-3'>
            <div class='col'>
                <h1 class='p-0 m-0'>Chat</h1>
            </div>
        </div>
        <div id="friends-window">
            <div id="scrollable-content-friends">
                {% for friend in friend_list %}
                    <a href="{% url 'chat:thread' friend.user.username %}">
                        <div>
                            <p id="friends"><img src="{{ friend.user.userprofile.icon.url }}"
                                                 style="border-radius:15%; width: 40px;"> {{ friend.user.username }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}