{% extends 'main/base.html' %}

{% block content %}

<style>
	#myuser-message{
		text-align: right;
		font-size: 20px;
		border: 5px solid rgb(102, 176, 250);
		border-radius: 10px;
		background-color: rgb(102, 176, 250);
		padding-right: 5px;
		padding-left: 5px;
		width: 80%;
		word-break: break-all;
		overflow: auto;
	}
	#align-right{
		text-align: right;
		padding-right: 30px;
	}
	#align-left{
		text-align: left;
	}
	#chatting-with-message{
		text-align: left;
		font-size: 20px;
		border: 5px solid rgb(247, 223, 218);
		border-radius: 10px;
		background-color: rgb(247, 223, 218);
		padding-right: 5px;
		padding-left: 5px;
		padding-bottom: 5px;
		overflow: auto;
		word-break: break-all;
	}
	#dialog-window {
  		height: 503px;
		border: 1px black solid;
	}
	#scrollable-content {
  		height: 500px;
  		overflow: auto;
	}
	#friends{
		box-sizing: border-box;
		border-bottom: 2px solid black;
		font-size: 20px;
		color: #000000;
		padding-left: 5px;
		padding-right: 1000px;
	}
	#friends-window {
  		height: 703px;
		border: 1px black solid;
		width: 10%;
		position: absolute;
		left: 10%;
	}
	#image-pic{
		border-radius: 15%;
		width: 40px;
	}
</style>

<div class='container' style='max-width: 70%;' >
	
    <div class='my-3 py-3' style="width:80%; float: right">
    	
        <div class='col'>
            <h1 class='p-0 m-0'>Chatting With {% if user != object.first %}{{ object.first }}{% else %}{{ object.second }}{% endif %}</h1>
        </div>
    </div>
		<div id="dialog-window" style="width:80%; float: right; ">
  			<div id="scrollable-content" style="max-width: 100%">
    			<ul id='chat-items'>
     				{% for chat in object.chatmessage_set.all %}
     					{% if chat.user == user %}
							<p id="align-right">
								<span id='myuser-message' style="max-width: 100%">{{ chat.message }}</span>
								<img id='image-pic' src='{{ chat.user.userprofile.icon.url }}'>
							</p>
							{% if user == object.first %}
        					<input type='hidden' id='meObj' value='1' />
							{% else %}
							<input type='hidden' id='meObj' value='2' />
							{% endif %}
   	 					{% else %}
   	 						<p id="align-left">
        					<img id='image-pic' src='{{ chat.user.userprofile.icon.url }}'>
        					<span id='chatting-with-message' style="max-width: 100%">{{ chat.message }}</span>
        					</p>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id="dialog-window" style="width:15%; float: left;">
  			<div id="scrollable-content" style="overflow: auto; overflow-x: hidden;">
  				{% include "chat/friendslist.html" with friend_list=user.userprofile.friends.all %}
  			</div>
  		</div>

		<form id='form' method='POST' style="width:80%; float: right"> {% csrf_token %}
			<input type='hidden' id='myUsername' value='{{ user.username }}' />
				{{form.as_p }}
			<input type='submit' class='btn btn-primary' value='Send'/>
		</form>
	</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
<script>
// websocket scripts

console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")
var me = $("#myUsername").val()
var myObjNumber = $("#meObj").val()


var wsStart = 'ws://'
if (loc.protocol == 'https:'){
	wsStart ='wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)
const out = document.getElementById("scrollable-content")
const isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1
if (!isScrolledToBottom) {
      out.scrollTop = out.scrollHeight - out.clientHeight
}

function format () {
  return Array.prototype.slice.call(arguments).join(' ')
}

socket.onmessage = function(e){
	console.log("message", e)
	var chatDataMsg = JSON.parse(e.data)
	if (me == chatDataMsg.username)
	{
		if(myObjNumber == "1")
		{
			chatHolder.append("<p id='align-right'>" + "<span id='myuser-message'>" + chatDataMsg.message + "</span>" + " " + "<img id='image-pic' src='{{ object.first.userprofile.icon.url }}'>" + "</p>")
		}
		else
		{
			chatHolder.append("<p id='align-right'>" + "<span id='myuser-message'>" + chatDataMsg.message + "</span>" + " " + "<img id='image-pic' src='{{ object.second.userprofile.icon.url }}'>" + "</p>")
		}
	}
	else
	{
		if(myObjNumber == "1")
		{
			chatHolder.append("<p id='align-left'>" + "<img id='image-pic' src='{{ object.second.userprofile.icon.url }}'>" + 
			"<span id='chatting-with-message'>" + chatDataMsg.message +  "</span>" + "</p>")
		}
		else
		{
			chatHolder.append("<p id='align-left'>" +  "<img id='image-pic' src='{{ object.first.userprofile.icon.url }}'>" + 
			"<span id='chatting-with-message'>" + chatDataMsg.message +  "</span>" + "</p>")
		}
	}
	if (!isScrolledToBottom) {
      out.scrollTop = out.scrollHeight - out.clientHeight
    }
}
socket.onopen= function(e){
	console.log("open", e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()
		var finalData = {
			'message': msgText
		}
		socket.send(JSON.stringify(finalData))
		formData[0].reset()
	})
}
socket.onerror= function(e){
	console.log("error", e)
}
socket.onclose= function(e){
	console.log("close", e)
}

</script>
{% endblock %}