{% extends 'main/base.html' %}

{% block content %}
<div class="app-container app-theme-white body-tabs-shadow closed-sidebar-mobile">
    <div class="app-container closed-sidebar-mobile">
        <div class="h-100 bg-premium-dark">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="modal-dialog w-100 ">
                <div class="modal-content">
                <div class="modal-body">
                <h1 >System Login</h1>
                <form method="POST">
                    {% csrf_token %}
                     {% include 'accounts/basetry.html' with form=form %}
                    <div class="text-center">
                    <button class="btn btn-success">Login</button>

                    <div>
                    <a href="{% url 'accounts:password_reset' %}">Forgot password?</a>
                    </div>
                    </div>
                </form>
                </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}