{% extends 'main/base.html' %}

{% block content %}
<div class="app-container app-theme-white body-tabs-shadow closed-sidebar-mobile">
    <div class="app-container closed-sidebar-mobile">
        <div class="h-100 bg-premium-dark">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="modal-dialog w-100 ">
                     <div class="modal-content">
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Reset Password</legend>
                                    {% include 'accounts/basetry.html' with form=form %}
                                </fieldset>
                                <div class="form-group">
                                    <button type = "submit">Reset Password </button>
                                </div>
                            </form>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}