{% extends 'main/base.html' %}


{% block content %}

<div class="app-container app-theme-white body-tabs-shadow closed-sidebar-mobile">
    <div class="app-container closed-sidebar-mobile">
        <div class="h-100 bg-premium-dark">
            <div class="d-flex h-100 justify-content-center align-items-center">
                <div class="modal-dialog w-100 ">
                	<div class="modal-content">
							<div class="modal-body">
								<form method="POST" class="form-signin">{% csrf_token %}
									<h1 class="h3 mb-3 font-weight-normal text-center">Reset password</h1>
									<input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
									<h1></h1>
									<div class="text-center">
									<button class="btn btn-primary" type="submit">Send reset email</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}