{% extends 'main/base.html' %}

{% block content %}

<a href="{% url 'postfeed:create' %}">Create Post</a>

{% if posts %}
{% for post in posts %}
<div class="container mt-2">
  <div class="col-md-5">
    <div class="card card-default">
      <div class="card-body">
        <section class="post-heading">
          <div class="row">
            <div class="col-md-11">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object photo-profile" src="{{ post.user.userprofile.icon.url }}" width="40" height="40" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <a href="#" class="anchor-username">
                    <h4 class="media-heading">{{ post.user.username }}</h4>
                  </a>
                </div>
              </div>
            </div>
            <div>
              {% if user.username == post.user.username %}
                <a href="{% url 'postfeed:delete_post' post.pk %} " onclick="return confirm('Are you sure you want to delete this?')"><i class="fas fa-times"></i></a>
              {% endif %}
            </div>
          </div>
        </section>
        <section class="post-body">
          <p>{{ post.body }}</p>
        </section>
        <section class="post-footer">
          <div class="post-footer-option container">
              <div style="display:inline-block">{{ post.liked.all.count }} likes</div>
              <div style="display:inline-block">
                <form action="{% url 'postfeed:like_post' %}" method="POST" />
                {% csrf_token %}
                <input type="hidden" name="post_id" value={{ post.id }} />
                {% if user not in post.liked.all %}
                  <button class="btn-success" type="submit">Like</button>
                {% else %}
                  <button class="btn-danger" type="submit">Unlike</button>
                {% endif %}
              </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
    <p>No posts are available.</p>
{% endif %}
{% endblock %}