{% extends 'main/base.html' %}

{% block title %}
Friends
{% endblock %}

{% block content %}
{% if searched_user.username == current_user.username %}
     <div>Friend list:</div>
     {% for friend in friend_list %}
          <div>
               <a href="{% url 'profiles:profile' friend.user.username %}">{{ friend.user.username }}</a>
          </div>
     {% endfor %}

     <div>Sent friend requests:</div>
     <div>
          {% for s_request in sent_friend_requests %}
               <div><a href="{% url 'profiles:profile' s_request.to_user.username %}">{{ s_request.to_user.username }}</a></div>
          {% endfor %}
     </div>

     <div>Received friend requests:</div>
     {% for r_request in rec_friend_requests %}
          <div style="border: 1px solid black; border-radius: 5px; width: 200px" class="p-1 mb-2">
               <div style="width: 50px" class="m-auto">
                    <a href="{% url 'profiles:profile' r_request.from_user.username %}">{{ r_request.from_user.username }}</a>
               </div>
               <div style="width: 90%" class="m-auto">
                    <small><a class="btn btn-primary" href="{% url 'profiles:accept_friend_request' r_request.from_user.pk %}">Accept</a></small>
                    <small><a class="btn btn-warning" href="{% url 'profiles:delete_friend_request' r_request.from_user.pk %}">Ignore</a></small>
               </div>
          </div>

     {% endfor %}

{% else %}

     <div>{{ searched_user.username }}'s friend list:</div>
     {% for friend in friend_list %}
          <div>
               {% if current_user.username == friend.user.username %}
                    <a href="{% url 'profiles:profile' friend.user.username %}">{{ friend.user.username }}(You)</a>
               {% else %}
                    <a href="{% url 'profiles:profile' friend.user.username %}">{{ friend.user.username }}</a>
               {% endif %}
          </div>
     {% endfor %}

{% endif %}
{% endblock %}
