{% extends 'main/base.html' %}



{% block title %}
Profile
{% endblock %}

{% block content %}
<p>User info:</p>
     <img src="{{ searched_user.userprofile.icon.url }}" width="200px">
     <li> Username: {{ searched_user }}</li>
     <li> First name: {{ searched_user.first_name }}</li>
     <li> Last name: {{ searched_user.last_name }}</li>
     <li> Email: {{ searched_user.email }} </li>
<p>Additional user info:</p>
     <li>Age: {{ searched_user.userprofile.age }}</li>
     <li>Gender: {{ searched_user.userprofile.gender }}</li>
<p>Gallery:</p>
<div class="row" style="margin-left: 0px;margin-right: 0px;padding-bottom: 20px;">

{% for image in images %}

    <div><img src='{{ image }}' width="250px" height="250px" style="padding-left: 20px;"></div>
       {% if forloop.counter|divisibleby:"6" and not forloop.last %}
        </div><div class="row" style="margin-left: 0px;margin-right: 0px;padding-bottom: 20px;">
        {% endif %}


{% endfor %}

</div>

{% if searched_user.username == current_user.username %}
<a class="btn btn-primary" href="{% url 'profiles:profile_edit' %}">Edit Profile</a>
<a class="btn btn-primary" href="{% url 'profiles:change_password' %}">Change password</a>
<a class="btn btn-primary" href="{% url 'accounts:delete_acc' %}">Disable account</a>
{% else %}
     <div class="mt-2">
          <a class="btn btn-secondary" href="{% url 'profiles:friends' searched_user.username %}">{{ searched_user.username }}'s friend list</a>
     </div>

     <div class="mt-2">
          {% if button_status == 'not_friend' %}
               <small><a class="btn btn-primary" href="{% url 'profiles:send_friend_request' searched_user.pk %}">Add friend</a></small>
          {% elif button_status == 'friend_request_sent' %}
               <small><a class="btn btn-warning" href="{% url 'profiles:cancel_friend_request' searched_user.pk %}">Cancel request</a></small>
          {% endif %}
     </div>
     <div class="mt-2">
          {% if searched_user.userprofile in current_user.userprofile.friends.all %}
            <a class="btn btn-secondary" href="{% url 'chat:thread' searched_user.username %}">Message</a>
          {% endif %}
     </div>


{% endif %}


{% endblock %}



