<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %} {% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/7bd927393f.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main:home' %}">Home</a> {# make home page later.. #}
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:index' %}">Accounts</a>
    </li>
    <li class="nav-item">
      {% if not user.is_anonymous %}
      <a class="nav-link" href="{% url 'postfeed:posts' user.username %}">Posts</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if not user.is_anonymous %}
      <a class="nav-link" href="{% url 'profiles:profile' user.username %}">Profile</a>
      {% endif %}
    </li>
    <li class="nav-item">
      {% if not user.is_anonymous %}
      <a class="nav-link" href="{% url 'chat:inbox' %}">Chat</a>
      {% endif %}
  </ul>
  {% if not user.is_anonymous %}
  <form method="get" action="{% url 'profiles:search' %}" class="form-inline my-2 my-lg-0">
    <input name="q" value="{{request.GET.q}}" placeholder="Search" class="form-control mr-sm-2"/>
    <button class="btn btn-primary" type="submit" >
        Search
    </button>
</form>
  {% endif %}
</nav>

{% block content %}

{% endblock %}

{% block scripts %}

{% endblock %}
</body>
</html>